{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastronomía Inacap</title>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="top-nav-container">
        <nav>
            <a href="{% url 'platillos' %}">Platillos</a>
            <a href="{% url 'agregar_platillo' %}">Agregar Platillo</a>
            <a href="{% url 'calculadora' %}">Calculadora</a>
            <a href="{% url 'perfil' %}">Perfil</a>
            <a href="{% url 'logout' %}">Cerrar sesión</a>
            <a href="{% url 'ingredientes' %}">Ingredientes</a>
            <a href="/costos/">Costos</a>
            
        </nav>
        <hr>
    </div>

    <div class="content-container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
